run = "cd day6-lanternfish && make && ./lanternfish"
#run = "cd day5-vents && make && ./vents"
#run = "clang++-7 -I. -I./include -std=c++17 -pthread -o vents main.cpp lib/libscn.a lib/libfmt.a && ./vents"
